.message {
  font-size: 26px;
  padding: 10px;
  margin: 8px;
  width: 25%;
  text-align: center;
}
.black {
  background-color: black;
  height: 60px;
  width: 100%;
  font-size: 27px;
  padding: 10px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  margin: 1px;
  text-align: center;
}
.valid {
  height: 28vh;
  position: absolute;
  top: 24vh;
  left: 14.5vw;
  z-index: 20;
  padding-bottom: 20px;
}
.valid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
