.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  border-radius: 5px;
  box-shadow: 0px 0px 30px black;
  background-color: #fff;
  color: black;
  margin: 10px auto;
}
